{{ header }}

<div class="centralbox">
		<div id="common-maintenance" class="container">
			<div class="container-inner">
	
				<div id="content" class="row maintenance">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="maintenance-msg">
							{{ message }}
						</div>
					</div>
				</div>

{{ footer }}